---
import Layout from '~/layouts/Layout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/hero-image.png',
      alt: 'AstroWind Hero Image',
      class: 'mx-auto rounded-md w-full',
    }}
  >
    <Fragment slot='title'>
      Welcome to
      <span class='dark:text-white highlight bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent'>
        INVITE EPAM</span
      > Referral Program
    </Fragment>

    <Fragment slot='subtitle'>
      <span class='hidden sm:inline'>
        Join us in shaping the future at EPAM! Our Referral Program is the perfect opportunity to bring brilliant minds
        into our supportive and thriving community. At EPAM, we believe that our people are the foundation of our
        success and growth, and we're excited to invite you to help us find exceptional talent.
      </span>
    </Fragment>
  </Hero>
</Layout>
